* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
header {
  padding: 20px 20px;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background: linear-gradient(to bottom, #00000073, transparent);
  width: 100vw;
}
.logo img {
  height: 55px;
  width: 55px;
  background: transparent;
  border: 2px solid #000000;
  color: #eee;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
nav .hamb {
  width: 35px;
  height: 24px;
  right: 5%;
  top: 40px;
  z-index: 5;
  background: transparent;
  position: absolute;
  cursor: pointer;
  display: none;
  z-index: 10;
}
nav .hamb span {
  display: block;
  background: #eee;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}
nav .hamb span:nth-child(2) {
  margin: 7px 0px;
}
nav .nav-list {
  list-style: none;
}
nav .nav-list li {
  display: inline-block;
}
nav .nav-list li a {
  display: inline-block;
  color: #eee;
  margin-left: 55px;
  font-size: 15px;
  font-weight: 600;
}
nav .nav-list li:not(:last-child) a:hover {
  color: #020202;
  transition: 0.4s;
}
nav .nav-list li:not(:last-child) a:active {
  color: #000000;
  transition: 0.4s;
}
nav .nav-list li.btn a {
  display: inline-block;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  padding: 9px 28px;
  border-radius: 30px;
  line-height: 1.3;
  font-weight: 500;
}
nav .nav-list li.btn:hover a {
  background: rgb(0, 0, 0);
  color: #ffffff;
  border: 2px solid transparent;
  transition: 0.4s;
}
nav .nav-list li.btn:active a {
  background: #000000;
  color: white;
  border: 2px solid transparent;
  transition: 0.4s;
}
@media screen and (max-width: 600px) {
  nav .hamb {
    display: initial;
  }
  .click {
    top: 46px;
  }
  .click span {
    position: absolute;
    margin-top: 12px;
  }
  .click span:first-child {
    transform: rotate(-40deg);
  }
  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }
  .click span:last-child {
    transform: rotate(40deg);
    top: 0;
  }
  nav .nav-list {
    position: absolute;
    top: 90px;
    display: none;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60vh;
    background: black;
    z-index: 2;
    padding: 6% 9%;
    transition: 1s top;
    border-radius: 10px;
  }
  nav .nav-list li {
    display: block;
  }
  nav .nav-list li a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0;
    margin-bottom: 40px;
  }
  nav .nav-list li.btn a {
    position: absolute;
    bottom: 0%;
    right: 20%;
    left: 20%;
    padding: 7px 15px;
    font-size: 14px;
  }
  .container {
    padding-top: 100px;
  }
  .social a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .container .hero-text h1 {
    height: 150px;
  }
  nav .nav-list.open {
    display: initial;
  }
  .desaparece {
    display: initial;
  }
}
section {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: center;
}
section h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}
section p {
  font-weight: 300;
  margin-bottom: 15px;
}
section img {
  height: 40%;
}
section#sec1 {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}
section#sec2 {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
section#sec3 {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
section#sec4 {
  background-image: linear-gradient(to right, #2af598 0%, #009efd 100%);
}
section#sec5 {
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}
section a {
  font-weight: 300;
}
section > a {
  display: inline-block;
  background: transparent;
  border: 2px solid white;
  padding: 9px 28px;
  border-radius: 30px;
  line-height: 1.3;
  font-weight: 500;
  color: white;
}
section a:hover {
  background: white;
  color: #000000;
  border: 2px solid transparent;
  transition: 0.4s;
}
section a:active {
  background: white;
  color: rgb(0, 0, 0);
  border: 2px solid transparent;
  transition: 0.4s;
}
@media screen and (max-width: 700px) {
  section {
    flex-direction: column-reverse;
    justify-content: center;
  }
  section img {
    width: 100%;
  }
  .contenedor-texto {
    text-align: center;
  }
}
