* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.main-width {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0px 20px;
}
.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img_base/banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 600px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img_base/banner1.jpg);

    background-size: cover;
    background-position: center;
  }
}
header {
  padding: 40px 0 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 55px;
  width: 55px;
  background: transparent;
  border: 2px solid #fdfdfd;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
nav .hamb {
  width: 35px;
  height: 20px;
  right: 5%;
  top: 60px;
  z-index: 5;
  background: transparent;
  position: absolute;
  cursor: pointer;
  display: none;
}
nav .hamb span {
  display: block;
  background: #2ecc71;
  width: 100%;
  height: 5px;
  transition: 0.3s;
  transition-property: transform, opacity;
}
nav .hamb span:nth-child(2) {
  margin: 7px 0px;
}
nav .nav-list {
  list-style: none;
}
nav .nav-list li {
  display: inline-block;
}
nav .nav-list li a {
  display: inline-block;
  color: #2ecc71;
  margin-left: 55px;
  font-size: 15px;
  font-weight: 600;
}
nav .nav-list li:not(:last-child) a:hover {
  color: #eee;
  transition: 0.4s;
}
nav .nav-list li:not(:last-child) a:active {
  color: #eee;
  transition: 0.4s;
}
nav .nav-list li.btn a {
  display: inline-block;
  background: transparent;
  border: 2px solid #2ecc71;
  padding: 9px 28px;
  border-radius: 30px;
  line-height: 1.3;
  font-weight: 500;
}
nav .nav-list li.btn:hover a {
  background: #2ecc71;
  color: white;
  border: 2px solid transparent;
  transition: 0.4s;
}
nav .nav-list li.btn:active a {
  background: #2ecc71;
  color: white;
  border: 2px solid transparent;
  transition: 0.4s;
}
.container {
  padding-top: 150px;
}
.container .hero-text {
  margin-bottom: 40px;
}
.container .hero-text h1 {
  color: white;
  font-size: 47px;
  font-weight: 900;
  line-height: 1.2;
  margin: 20px 0 20px;
}
.container .hero-text h1 span {
  color: #2ecc71;
}
.container .hero-text h3 {
  color: #eee;
  font-weight: 400;
}
.social a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: #eee;
  color: #eee;
  cursor: pointer;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 35px;
}
.social a:nth-child(1):hover {
  transform: scale(2);
  background: #315ab4;
  transition: 0.4s;
}
.social a:nth-child(2):hover {
  transform: scale(2);
  background: #4e86ff;
  transition: 0.4s;
}
.social a:nth-child(3):hover {
  transform: scale(2);
  background: linear-gradient(
    #405de6,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #fcaf45
  );
  transition: 0.4s;
}
.social a:nth-child(4):hover {
  transform: scale(2);
  background: #2ecc71;
  transition: 0.4s;
}
.social a:nth-child(5):hover {
  transform: scale(2);
  background: #315ab4;
  transition: 0.4s;
}
.social a:nth-child(1):active {
  transform: scale(2);
  background: #315ab4;
  transition: 0.4s;
}
.social a:nth-child(2):active {
  transform: scale(2);
  background: #4e86ff;
  transition: 0.4s;
}
.social a:nth-child(3):active {
  transform: scale(2);
  background: linear-gradient(
    #405de6,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #fcaf45
  );
  transition: 0.4s;
}
.social a:nth-child(4):active {
  transform: scale(2);
  background: #2ecc71;
  transition: 0.4s;
}
.social a:nth-child(5):active {
  transform: scale(2);
  background: #315ab4;
  transition: 0.4s;
}
.desaparece {
  display: none;
}
@media screen and (max-width: 600px) {
  nav .hamb {
    display: initial;
  }
  .container .hero-text h1 {
    font-size: 35px;
  }
  .click {
    top: 46px;
  }
  .click span {
    position: absolute;
    margin-top: 12px;
  }
  .click span:first-child {
    transform: rotate(-40deg);
  }
  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }
  .click span:last-child {
    transform: rotate(40deg);
    top: 0;
  }
  nav .nav-list {
    position: absolute;
    top: 90px;
    display: none;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60%;
    background: black;
    z-index: 2;
    padding: 6% 9%;
    transition: 1s top;
    border-radius: 10px;
  }
  nav .nav-list li {
    display: block;
  }
  nav .nav-list li a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 0;
    margin-bottom: 40px;
  }
  nav .nav-list li.btn a {
    position: absolute;
    bottom: 0%;
    right: 20%;
    left: 20%;
    padding: 7px 15px;
    font-size: 14px;
  }
  .container {
    padding-top: 100px;
  }
  .social a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .container .hero-text h1 {
    height: 150px;
  }
  nav .nav-list.open {
    display: initial;
  }
  .desaparece {
    display: initial;
  }
}
